---
import type { HTMLAttributes } from "astro/types";
import Tag from "./Tag.astro";

interface Props extends HTMLAttributes<"ul"> {
  tags: string[];
}

const { tags, ...attrs } = Astro.props;
---

<ul class:list={["flex flex-wrap gap-2", attrs.class]} {...attrs}>
  {
    tags.map((tag) => (
      <li>
        <Tag tag={tag} />
      </li>
    ))
  }
</ul>
