---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Title from "~/components/ui/Title.astro";
import Description from "~/components/ui/Description.astro";
import PostList from "~/components/lists/PostList.astro";

const meta = {
  title: "Blog",
  description:
    "Sharing stories about software development and growth as a developer",
};

const posts = await getCollection("blog", ({ data }) => !data.draft);
---

<BaseLayout {...meta}>
  <Title>{meta.title}</Title>
  <Description class="mb-6">
    {meta.description}
  </Description>
  <PostList posts={posts} type="blog" />
</BaseLayout>
