---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "~/components/PostCard.astro";
import Title from "~/components/Title.astro";
import Link from "~/components/Link.astro";

const posts = await getCollection("blog", ({ data }) => {
  return data.draft === false;
});
---

<BaseLayout title="Blog" description="Blog">
  <Title>Blog</Title>
  <p class="mb-8 text-lg">
    Sharing in-depth stories from the world of software development—challenges,
    solutions, technical decisions, and growth as a developer.
  </p>
  <ul class="flex flex-col gap-5">
    {
      posts.map(({ data, id }) => (
        <li>
          <Link href={`/blog/${id}`} class="hover:no-underline">
            <PostCard {...data} />
          </Link>
        </li>
      ))
    }
  </ul>
</BaseLayout>
