---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Title from "~/components/ui/Title.astro";
import Link from "~/components/ui/Link.astro";
import Description from "~/components/ui/Description.astro";
import Card from "~/components/cards/Card.astro";
import PostList from "~/components/lists/PostList.astro";
import SubTitle from "~/components/ui/SubTitle.astro";

const posts = await getCollection("blog", ({ data }) => !data.draft);
---

<BaseLayout description="Blog" title="Blog">
  <Title>Blog</Title>
  <Description class="mb-6">
    Sharing in-depth stories from the world of software development—challenges,
    solutions, technical decisions, and growth as a developer.
  </Description>
  <Card class="mb-5 bg-gray-200">
    <SubTitle> Looking for bite-sized insights?</SubTitle>
    <Description>
      Explore <Link
        class="text-indigo-500 hover:text-indigo-600"
        href="/til"
        title="Go to TIL page">TIL</Link
      > page for daily discoveries, quick tips, and personal notes to revisit anytime.
    </Description>
  </Card>
  <PostList posts={posts} type="blog" />
</BaseLayout>
