---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostList from "~/components/lists/PostList.astro";
import Title from "~/components/ui/Title.astro";
import Description from "~/components/ui/Description.astro";

const posts = await getCollection("til", ({ data }) => !data.draft);
---

<BaseLayout description="Today I Learned" title="Today I Learned">
  <Title>Today I Learned</Title>
  <Description class="mb-6">
    Documenting daily discoveries in development—small insights, useful tips,
    and a personal archive to revisit anytime.
  </Description>
  <PostList posts={posts} type="til" />
</BaseLayout>
