@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

a:hover {
  @apply transition-all duration-200 hover:text-gray-900 hover:underline;
}

p {
  @apply text-balance;
}
