---
import Description from "~/components/ui/Description.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article>
  <h2
    class="mb-4 text-xl leading-tight font-bold text-balance text-gray-900 sm:text-2xl"
  >
    {title}
  </h2>
  <Description>
    <slot />
  </Description>
</article>
