---
import type { HTMLAttributes } from "astro/types";
import PostCard from "../cards/PostCard.astro";
import Link from "../ui/Link.astro";
import type { ContentType } from "~/content.config";
import type { CollectionEntry } from "astro:content";

interface Props extends HTMLAttributes<"ul"> {
  type: ContentType;
  posts: CollectionEntry<ContentType>[];
}

const { type, posts, ...attrs } = Astro.props;
---

<ul
  class:list={["grid grid-cols-1 gap-4 lg:grid-cols-2", attrs.class]}
  {...attrs}
>
  {
    posts.map(({ data, id }) => (
      <li>
        <Link href={`/${type}/${id}`}>
          <PostCard {...data} />
        </Link>
      </li>
    ))
  }
</ul>
