---
import type { HTMLAttributes } from "astro/types";
import Link from "../ui/Link.astro";
import Card from "../cards/Card.astro";
import { ExternalLinkIcon } from "~/assets/ui";
import { projects } from "~/data/projects";
import SubTitle from "../ui/SubTitle.astro";

type Props = HTMLAttributes<"ul">;

const { ...attrs } = Astro.props;
---

<ul class:list={["flex flex-col gap-2", attrs.class]} {...attrs}>
  {
    projects.map(({ name, description, url }) => (
      <li>
        <Link href={url} target="_blank" title={name}>
          <Card class="hover:bg-gray-100">
            <SubTitle class="flex items-center gap-2">
              {name} <ExternalLinkIcon size={16} />
            </SubTitle>
            <p class="text-sm">{description}</p>
          </Card>
        </Link>
      </li>
    ))
  }
</ul>
