---
import type { HTMLAttributes } from "astro/types";
import Link from "../ui/Link.astro";
import Card from "../cards/Card.astro";
import { ExternalLinkIcon } from "~/assets/ui";
import { projects } from "~/data/projects";
import SubTitle from "../ui/SubTitle.astro";
import Description from "../ui/Description.astro";

type Props = HTMLAttributes<"ul">;

const { ...attrs } = Astro.props;
---

<ul
  class:list={[
    "grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3",
    attrs.class,
  ]}
  {...attrs}
>
  {
    projects.map(({ name, description, url }) => (
      <li>
        <Link href={url} target="_blank" title={name}>
          <Card class="hover:bg-gray-100">
            <SubTitle class="flex items-center gap-2">
              {name} <ExternalLinkIcon size={16} />
            </SubTitle>
            <Description>{description}</Description>
          </Card>
        </Link>
      </li>
    ))
  }
</ul>
