---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Card from "~/components/cards/AboutCard.astro";
import Title from "~/components/ui/Title.astro";
import Description from "~/components/ui/Description.astro";
---

<BaseLayout description="About Junseong Park" title="About Me">
  <section class="mb-16">
    <Title>About Me</Title>
    <Description>
      I'm a frontend developer based in South Korea, well-versed in the Vite and
      React ecosystems. Passionate about open-source, I actively contribute as a
      maintainer of Astro.
    </Description>
  </section>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    <Card title="Technical Focus">
      I focus on modern web development tools and frameworks within the Vite
      ecosystem. As an Astro maintainer, I strive to enhance web development
      experiences for developers.
    </Card>
    <Card title="Product Philosophy">
      I build products that prioritize exceptional user experiences, striking a
      balance between technical excellence and user value.
    </Card>
    <Card title="Open Source">
      I actively contribute to open source web technologies, driving innovation
      and fostering collaboration within the community.
    </Card>
    <Card title="Interests & Hobbies">
      I keep up with tech industry trends through diverse media and relax with
      videos and music in my downtime.
    </Card>
    <Card title="Personal Goal">
      I aim to bring fresh perspectives to development, crafting innovative
      solutions that drive meaningful impact.
    </Card>
    <Card title="Community">
      I thrive in community collaboration, exchanging insights and experiences
      to empower fellow developers.
    </Card>
  </div>
</BaseLayout>
