---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { socialLinks } from "~/data/social";
---

<BaseLayout>
  <h1>Junseong Park</h1>
  <p class="mb-8 text-lg">
    Frontend Developer building and shipping great products while growing in
    tech.
  </p>
  <ul class="flex flex-wrap gap-6">
    {
      socialLinks.map(({ name, url, icon: Icon }) => (
        <li>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-1"
            title={name}
          >
            <Icon size={20} />
            <span>{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
