---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { projects } from "~/data/projects";
---

<BaseLayout title="Projects" description="Projects">
  <h1>Projects</h1>
  <ul class="flex flex-col gap-2">
    {
      projects.map(({ name, description, url }) => (
        <a
          href={url}
          class="rounded-xl border border-gray-300 p-4 hover:bg-gray-200"
          target="_blank"
          title={name}
        >
          <p class="text-lg font-bold">{name}</p>
          <p class="text-sm">{description}</p>
        </a>
      ))
    }
  </ul>
</BaseLayout>
