---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Title from "~/components/ui/Title.astro";
import Description from "~/components/ui/Description.astro";
import ProjectsList from "~/components/lists/ProjectsList.astro";
---

<BaseLayout description="Projects" title="Projects">
  <Title>Projects</Title>
  <Description class="mb-6">
    A curated collection of projects I’ve built—showcasing creativity,
    problem-solving, and technical expertise.
  </Description>
  <ProjectsList />
</BaseLayout>
