---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Title from "~/components/ui/Title.astro";
import Description from "~/components/ui/Description.astro";
import ProjectsList from "~/components/lists/ProjectsList.astro";

const meta = {
  title: "Projects",
  description: "Here's my collection of projects that I built.",
};
---

<BaseLayout {...meta}>
  <Title>{meta.title}</Title>
  <Description class="mb-6">
    {meta.description}
  </Description>
  <ProjectsList />
</BaseLayout>
