---
import { BlueSky, Github, LinkedIn, X } from "~/assets/social";
import Link from "./Link.astro";
---

<footer class="w-full bg-gray-100 py-4">
  <div class="mx-auto flex max-w-4xl justify-center space-x-4 px-4">
    <Link
      aria-label="GitHub"
      href="https://github.com/jsparkdev"
      target="_blank"
    >
      <Github class="h-6 w-6 text-gray-600 hover:text-blue-600" />
    </Link>
    <Link aria-label="X" href="https://twitter.com/jsparkdev" target="_blank">
      <X class="h-6 w-6 text-gray-600 hover:text-blue-600" />
    </Link>
    <Link
      aria-label="LinkedIn"
      href="https://linkedin.com/in/jsparkdev"
      target="_blank"
    >
      <LinkedIn class="h-6 w-6 text-gray-600 hover:text-blue-600" />
    </Link>
    <Link
      aria-label="BlueSky"
      href="https://bsky.app/profile/jspark.dev"
      target="_blank"
    >
      <BlueSky class="h-6 w-6 text-gray-600 hover:text-blue-600" />
    </Link>
  </div>
</footer>
