---
import Logo from "~/assets/brands/logo.svg";
import { metadata } from "~/data/site";
import Link from "./Link.astro";
---

<header
  class="mb-8 flex items-center justify-between px-2 py-8 md:mb-12 md:px-12"
>
  <a href="/" title={metadata.description}>
    <Logo size={40} />
  </a>
  <nav>
    <ul class="flex gap-6">
      <li><Link underline href="/about" title="About">About</Link></li>
      <li><Link underline href="/blog" title="Blog">Blog</Link></li>
      <li><Link underline href="/projects" title="Projects">Projects</Link></li>
    </ul>
  </nav>
</header>
