---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  underline?: boolean;
}

const { href, underline = false, ...attrs } = Astro.props;
---

<a
  class:list={[
    "transition-all duration-200 hover:text-gray-900",
    attrs.class,
    { "hover:underline": underline },
  ]}
  href={href}
  {...attrs}
>
  <slot />
</a>
