---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/ui/Header.astro";
import type { Lang } from "~/content.config";
import "~/styles/tailwind.css";

interface Props {
  title: string;
  description: string;
  lang?: Lang;
}

const { title, description, lang = "en" } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang={lang === "en" ? "en" : "ko-KR"}>
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body class="bg-gray-50 text-gray-700 antialiased selection:bg-indigo-200">
    <Header />
    <main class="mx-auto max-w-[1400px] px-[5vw] py-16">
      <slot />
    </main>
  </body>
</html>
