---
import Logo from "~/assets/brands/logo.svg";
import Link from "./Link.astro";
---

<header class="flex items-center justify-between px-[5vw] py-12">
  <a href="/">
    <Logo size={40} />
  </a>
  <nav>
    <ul class="flex gap-6 lg:text-lg">
      <li>
        <Link
          class="hover:text-gray-800 hover:underline"
          href="/blog"
          title="Blog">Blog</Link
        >
      </li>
      <li>
        <Link
          class="hover:text-gray-800 hover:underline"
          href="/projects"
          title="Projects">Projects</Link
        >
      </li>
    </ul>
  </nav>
</header>
