---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h2">;

const { ...attrs } = Astro.props;
---

<h2
  class:list={[
    "mb-4 text-xl leading-tight font-semibold text-balance text-gray-900 sm:text-2xl",
    attrs.class,
  ]}
  {...attrs}
>
  <slot />
</h2>
